@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.rating-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    gap: 29px;
    border-radius: 30px;
    background-image: radial-gradient(circle 200px at top, hsl(213, 19%, 18%) 10px, hsl(216, 12%, 12%) 320px);
    box-sizing: border-box;
}

.star-icon img{
    display: flex;
    padding: 14px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.avaliation-text {
    color: hsl(0, 0%, 100%);
}

.avaliation-text p {
    margin-top: 8px;
    color: hsl(0, 0%, 65%);
    font-size: 11pt;
}

.avaliation-text h1 {
    font-size: 21pt;
}

.rating-opts {
    display: flex;
    justify-content: space-between;
}

.rating-opts button {
    padding: 13px;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-weight: 700;
    background-color: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 70%);
    
}

.rating-opts button:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.rating-opts button:active {
    background-color: hsl(216, 12%, 54%);
}

.submit-btn {
    border: none;
    padding: 14px;
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 2.5px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.submit-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}